* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#home-container img{
width: 100%;
height: 600px;

}
.img{
display: flex;
place-content: space-evenly;
}
.grid-container {
  display: grid;
 text-align: center;
  width: 100%;
grid-column-gap: 1.5rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 2rem;
}
.grid-items {
  text-align: center;
  background-color: rgba(231,150,134,1);
  padding: 1.5rem;
}
.grid-items p{
  padding: 2rem 0;
}
.grid-items button{
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.8rem;
  text-transform: uppercase;
  font-weight:bold;
}
.grid-items button:hover{
  background-color: black;
  color: white;
}
nav {
  background-color: grey;
  height: 50px;
  display: flex;
  place-content: space-between;
  padding: 2rem 0;
}

nav a {
  color: black;
  font-family: monospace;
  font-size: large;
  text-decoration: none;
}
.img {
  display: flex;
  margin: 1rem;
}


ul {
  display: flex;
}
li {
  list-style: none;
  margin: 0 1.5rem;
}
footer {
  height: 50px;
  color: black;
  text-align: center;
  padding: 1rem 0;
  background-color: grey;
  font-family: monospace;
  font-size: large;
  margin-bottom: auto;
}
button{
  font-size: large;
  font-family: monospace;
}
@media only screen and (max-width: 600px) {}